* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(to right, #f9f9f9, #e0f7fa); */
    background-color: #101828;
}

.body {
    position: relative;
    background-color: #1018288c;
    backdrop-filter: blur(55px);
}

body::after {
    position: fixed;
    content: "";
    width: 20vw;
    height: 30vh;
    border-radius: 50%;
    background-color: rgba(66, 222, 92, 0.463);
    top: 15%;
    left: 5%;
    z-index: -99
}
body::before {
    position: fixed;
    content: "";
    width: 20vw;
    height: 30vh;
    border-radius: 50%;
    background-color: rgba(125, 139, 211, 0.625);
    top: 40%;
    right: 10%;
    z-index: -99
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0 10em;
    border-bottom: 1px solid rgba(168, 168, 168, 0.282);
}

.top-logo{
    text-decoration: none;
}

.logo {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.logo h3 {
    color: #fff;
    letter-spacing: -1px;
}

span {
    color: rgb(125, 139, 211)
}

.nav {
    display: flex;
    align-items: center;
    gap: 3em
}

.nav ul {
    display: flex;
    gap: 2em;
    gap: 2.5em;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    align-items: center;
    transition: all ease .3s;
}

.nav li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.hamburger {
    display: none
}

.active {
    padding-bottom: 5px;
    border-bottom: 2px solid #fff
}

.get-in-touch {
    display: flex;
    padding: 3em 10em 2em;
    gap: 1em;
    color: rgb(168, 168, 168);
    flex-direction: column;
}
.icon-flex {
    display: flex;
    gap: 1em;
    color: #fff
}

.get-in-touch h1 {
    font-size: 1.6em
}

.contacticon {
    width: 2em;
    color:rgb(125, 139, 211)
}

.flex-container {
    display: flex;
    padding: 1em 10em;
    gap: 3.4em
}

.flex-container .input-field {
    width: 100%;
    background-color: #a5a5a51a;
    border-radius: 15px;
    border: 2px solid #4d85e617;
    backdrop-filter: blur(20%);
    padding: 1.8em;
    color: #fff;
}

.input-field input {
    padding: 15px;
    margin-top: 10px;
    background-color: #a5a5a524;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff
}

.input-field form .email {
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
}

textarea {
    height: 17vh;
    background-color:#a5a5a524;
    border: none;
    padding: 15px;
    margin-top: 10px;
    border-radius: 7px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff
}

textarea:focus,
input:focus {
    outline: 2px solid rgb(125, 139, 211);
    color: #fff;
}

.send-message-btn {
    padding: 15px;
    margin: 20px 0;
    border-radius: 7px;
    background-color: rgb(125, 139, 211);
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border: none;
    letter-spacing: 1px;
}

.flex-container .input-field form {
    display: flex;
    flex-direction: column;
}

.right-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3em
}

.right-field .socials {
    background-color: #a5a5a51a;
    padding: 2.2em;
    border-radius: 15px;
    border: 2px solid #4d85e617;
    backdrop-filter: blur(20%);
}

.socials .icon {
    width: 1.8em;
    color: rgb(125, 139, 211);
}

.socials ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socials li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.socials h2 {
    color: #fff;
    margin-bottom: 15px
 }

 .socials a {
    text-decoration: none;
    color: rgb(168, 168, 168);
    letter-spacing: 1px;
 }

.right-field .quote {
    background-color: #a5a5a51a;
    padding: 2.2em;
    border-radius: 15px;
    border: 2px solid #4d85e617;
    backdrop-filter: blur(20%);
}

.quote h2 {
    color: #fff;
    margin-bottom: 15px
}

.quote p {
    color: rgb(168, 168, 168);
}




footer {
    background-color: #101828;
    display: flex;
    justify-content: space-between;
    padding: 4em 10em;
    color: #fff;
    border-top: 1px solid rgba(168, 168, 168, 0.282);
}

.footer-left {
    display: flex;
    gap: 3em
}

.left a {
    text-decoration: none;
    color: #fff
}

.footer-left .left {
    border-right: 1px solid #ffffff72;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3em 0 0;
}

.footer-left .nav-links {
    align-content: center;
    color:#ffffff72
}

.footer-left .nav-links ul {
    display: flex;
    gap: 1em;
    margin-bottom: 1em
}

.footer-left .nav-links ul li {
    list-style: none;
}

.footer-left .nav-links ul li a {
    text-decoration: none;
    color: #ffffff72;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 1em
}

.social-icons ul {
    display: flex;
    justify-content: center;
    gap: 2em
}

.social-icons ul li {
    list-style: none;
}

.social-icons ul li a {
    text-decoration: none;
    color: #ffffff72;
    font-size: 20px
}

@media screen and (max-width: 768px) {
    header{
        padding: 0 2em
    }

    .get-in-touch {
        padding: 3em 0 2em;
        text-align: center;
    }

    .icon-flex {
        justify-content: center;
    }

    .contacticon {
        display: none;
    }

    .flex-container {
        padding: 2em;
        flex-direction: column;
        gap: 1.3em
    }

    footer {
        margin-top: 2em;
        flex-direction: column;
        padding: 3em 2em;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .social-icons ul {
        margin-top: 2em
    }

    .text {
        display: none;
    }
}

@media screen and (max-width: 515px){
    body,
    .body {
        overflow-x: hidden;
    }
    header {
        width: 100%;
        padding: 1em;
    }

    .nav ul {
        display: none
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .menu {
        width: 2em;
        color: #fff
    }
    
    #dropNav {
        display:flex;
        position: absolute;
        top: 2.3em;
        right: -26em;
        width: 24.6em;
        height: 240px;
        list-style: none;
        background-color: rgb(125, 139, 211);
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        overflow: hidden;
        border-radius: 10px 0 10px 10px;
        overflow: hidden;
        z-index: 999;
        transition: right 0.3s cubic-bezier(.77,0,.18,1);
        backdrop-filter: blur(30px);
    }
    
    #dropNav:not(.active) {
        pointer-events: none;
    }

    #dropNav.active {
        transition: right 0.3s cubic-bezier(.77,0,.18,1);
        display: block;
        right: 0
    }

    .hamburger li {
        display: block;
        padding-bottom: 5px;
        text-align: center;
    }

    .hamburger li a {
        color: #fff;
        text-decoration: none;
        display: flex;
        padding: 0.7em 2em;
        justify-content: center;
    }

    .hamburger li a:hover {
        background-color: #101828;
        color: #fff;
        border-radius: 10px;
    }

    .active {
        border: none;
    }

    .get-in-touch p{
        padding: 0 4em
    }

    .flex-container {
        padding: 1em
    }

    .footer-left {
        display: block;
    }
    
    .footer-left .left {
        border: none;
        text-align: center;
        padding: 0;
        margin-bottom: 1em;
    }

    .nav-links ul{
        justify-content: center;
        align-items: center;
    }

    .social-icons ul {
        margin-top: 1.5em
    }
}

