* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(to right, #f9f9f9, #e0f7fa); */
    background-color: #101828;
}

.body {
    position: relative;
    background-color: #1018288c;
    backdrop-filter: blur(55px);
}

body::after {
    position: fixed;
    content: "";
    width: 30vw;
    height: 40vh;
    border-radius: 50%;
    background-color: rgba(66, 222, 92, 0.559);
    top: 15%;
    left: 5%;
    z-index: -99;
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

body::before {
    position: fixed;
    content: "";
    width: 30vw;
    height: 40vh;
    border-radius: 50%;
    background-color: rgba(125, 139, 211, 0.701);
    top: 40%;
    right: 10%;
    z-index: -99;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

header {
    position: sticky;
    top: 0;
    background-color: #101828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0 10em;
    z-index: 9999;
    transition: top ease .3s;
    border-bottom: 1px solid rgba(168, 168, 168, 0.282);
}



.top-logo{
    text-decoration: none;
}

.logo {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.logo h3 {
    color: #fff;
    letter-spacing: -1px;
}

span {
    color: rgb(125, 139, 211)
}

.nav {
    display: flex;
    align-items: center;
    gap: 3em
}

.nav ul {
    display: flex;
    gap: 2em;
    gap: 2.5em;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    align-items: center;
    transition: all ease .3s;
}

.nav li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.resume {
    background-color: rgb(125, 139, 211);
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px
}

.resume:hover{
    background-color: #fff;
    transition: all ease .3s;
    color: #101828;
    transform: scale(1.05)
}

.active {
    padding-bottom: 5px;
    border-bottom: 2px solid #fff
}

.sections {
    padding: 3em 10em;
    display: flex;
    flex-direction: column;
    gap: 4em
}

.my-project {
    display: flex;
    flex-direction: column;
    gap: 1em
}

.project-header {
    gap: 1em;
    display: flex;
}

.here-are-some {
    color: rgb(168, 168, 168);
}

.my-project .folder{
    width: 2em;
    color: rgb(125, 139, 211)
}

.sections h1{
    color: #fff
}

.section {
    color: #0f2f1f;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
}

.first-card {
    width: 100%;
    flex: 0 0 calc(49.744% - 1rem);
    gap: 1em;
    display: flex;
    flex-direction: column;
    color: #0F1B2F;
    border-radius: 15px;
    border: 2px solid #0f1b2f38
}

.image {
    background-image: url(images/landing-page.png);
    width: 100%;
    height: 40vh;
    border-radius: 1em;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.image2 {
    background-image: url(images/landing-page2.png);
    width: 100%;
    height: 40vh;
    border-radius: 1em;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.image:hover {
    transform: scale(1.05);
    transition: all ease .5s;
}

.text-card {
    background-color: #a5a5a56a;
    border-radius: 1em;
    gap: 1em;
    padding: 1.5em;
    color: #fff;
    max-height: 50vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.text-card h3 {
    margin-bottom: 0.5em;
}

.key-features {
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #fff;
}

.gridd {
    display: block
}

.key {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin-bottom: 0.5em;
}

.small-arrow {
    width: 20px;
    height: 20px;
    color: rgb(125, 139, 211);
}

.first-card:hover {
    background-color: #101828;
    color:#fff;
    transition: all ease-in .3s;
}

.text-card a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(125, 139, 211);
    display: inline-block;
    padding: 9px 20px;
    border-radius: 0.5em;
    margin: 1.3em 0
}

.language {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.hcj {
    display: flex;
    gap: 10px
}

.hcj img {
    width: 18px;
    height: 17px
}

.html {
    color: rgb(226, 139, 0);    
}

.css {
    color: rgb(10, 122, 197)
}

.js {
    width: 15px;
    margin-bottom: 20px;
    background-color: yellow
}

footer {
    background-color: #101828;
    display: flex;
    justify-content: space-between;
    padding: 4em 10em;
    color: #fff;
    border-top: 1px solid rgba(168, 168, 168, 0.282);
}

.footer-left {
    display: flex;
    gap: 3em
}

.left a {
    text-decoration: none;
    color: #fff
}

.footer-left .left {
    border-right: 1px solid #ffffff72;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3em 0 0;
}

.footer-left .nav-links {
    align-content: center;
    color:#ffffff72
}

.footer-left .nav-links ul {
    display: flex;
    gap: 1em;
    margin-bottom: 1em
}

.footer-left .nav-links ul li {
    list-style: none;
}

.footer-left .nav-links ul li a {
    text-decoration: none;
    color: #ffffff72;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 1em
}

.social-icons ul {
    display: flex;
    justify-content: center;
    gap: 2em
}

.social-icons ul li {
    list-style: none;
}

.social-icons ul li a {
    text-decoration: none;
    color: #ffffff72;
    font-size: 20px
}

@media screen and (max-width: 769px){
    body,
    .body {
        overflow-x: hidden;
    }
    header {
        padding: 0 1em
    }

    .my-project {
        text-align: center;
        margin-top: 2em
    }

    .folder {
        display: none;
    }

    .project-header {
        justify-content: center;
    }

    .sections {
        padding: 1em;
    }

    footer {
        margin-top: 2em;
        flex-direction: column;
        padding: 3em 2em;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .social-icons ul {
        margin-top: 2em
    }

    .text {
        display: none;
    }
}

@media screen and (max-width: 515px){
    .my-project {
        justify-content: center;
    }

    .folder {
        display: none;
    }

    .my-project {
        flex-direction: column;
        text-align: center;
        margin-top: 2em;
    }

    .my-project p {
        color: rgb(168, 168, 168);
    }

    .section {
        flex-direction: column;
    }

    .first-card {
        gap: 0.5em
    }
}